#container {
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    position: relative;
}
#leftside {
    width: 25%;
    height: 100%;
    float: left;
}
#main {
    width: 75%;
    height: 100%;
    margin-left: 25%;
}