#first,#second,#third {
    height: 5px;
    margin: 5px 0;
    background-color: black;
    border-radius: 5px;
    content: "";
    display: block;
    scale: 1;
}
button {
    height: 40px;
}
a:hover {
    
}

#navbar-ss {
    width: 75px;
    height: 100vh;
}

