#first,#second,#third {
    height: 5px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
    content: "";
    display: block;
    scale: 1;
}
button {
    height: 45px;
}
a:hover {
    
}

#navbar-ss {
    width: 75px;
    height: 100vh;
    background-color: rgb(31,63,143);
}

#nav-button {
    border: 1px so.nav-item-cssd white;
}

.nav-item-css {
    margin-bottom: -5px;
    margin-top: -5px;
    width: 150px;
    color: gray;
}
.nav-item-css:hover {
    border-color: rgb(29,120,217);
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    
}
.nav-item-css:hover a {
    color: white !important;
}
.nav-item-css:active {
    border-color: rgb(211, 106, 7);
    border-width: 0px 0px 0px 4px;
    border-style: solid;
}
.nav-item-css:active a {
    color: white !important;
}
.hrtitle {
    width: 20px;
    height: 4px;
    background-color: rgb(29,120,217);
    border-radius: 3px;
    display: inline-block;
}
p {
    font-size: 20px;
    display: inline-block;
    color: rgb(29,120,217);
}

